/* Seccion Contacto */
#contacto {
  padding-bottom: 5rem;
}
#contacto .content-contacto {
    padding-right:5rem ;
    padding-left:5rem ;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/img/web/f-seccion-contacto.jpg');
    background-size: cover;
    background-position: center 25%;
}

#contacto .content-contacto span {
  color: var(--color9);
  font-size: 2.5rem;
  font-weight: 900;
}
#contacto .sub {
  background: var(--color9);
  color: var(--color10);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#contacto .sub:hover {
  transform: scale(1.06);
}
@media screen and (max-width: 600px) {
  #contacto .content-contacto span {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  #contacto .sub {
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
  }
  #contacto .content-contacto {
    padding: 2rem;
  }
}
